{
  "extends": ["react-app", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "quotes": ["error", "single"],
    "jsx-a11y/href-no-hash": false,
    "no-unused-vars": "error",
    "no-console": "warn"
  }
}
