.event-details {
  display: grid;
  grid-template-columns: 350px 525px;
  margin: 50px auto;
  width: 80%;
  box-shadow: 1px 0 5px 0;
  max-height: 350px;
  width: 875px;
}

.detail-right {
  grid-column: 2 / 3;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
} 

.detail-img {
  grid-column: 1;
  height: 350px;
  width: 350px;
  opacity: .9;
}

.headliner {
  font-size: 36px;
  width: 350px;
}

.support {
  font-size: 16px;
  margin-top: 5px;
}

.support h4 {
  margin-top: 2px;
}

.detail-date {
  position: absolute;
  top: 0;
  right: 5px;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  font-size: 24px;
  margin: 30px;
}

.detail-venue {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  width: 330px;
  overflow: scroll;
}

.detail-start-time {
  position: absolute;
  right: 35px;
  bottom: 185px;
  width: 100px;
  text-align: center;
  font-weight: bold;
}

.ticket-info {
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 30px;
  height: 50px;
  width: 115px;
  border-left: 1px solid;
  border-right: 1px solid;
}

.ticket-info h4 {
  position: relative;
  top: 15px;
}

.ticket-info:hover {
  box-shadow: 0 0 3px 0;
}

.bio-section {
  width: 875px;
  margin: 0 auto 50px auto;
}

.bio-text {
  margin-top: 20px;
}

@media screen and (max-width: 900px) {

  header {
    background-position-x: -160px; 
  }

  .headliner {
    width: unset;
  }

  .event-details {
    grid-template-columns: 300px;
    grid-template-rows: 300px 80px;
    width: 600px;
    max-height: unset;
  }

  .bio-section {
    width: 600px;
  }

  .detail-img {
    height: 100%;
    width: 300px;
  }

  .detail-venue {
    bottom: -70px;
    left: -300px;
    margin: 0 0 0 10px;
  }

  .ticket-info {
    width: 180px;
    bottom: -95px;
    right: unset;
  }

  .detail-date {
    top: unset;
    right: unset;
    bottom: -20px;
    left: 110px;
  }

  .detail-start-time {
    right: unset;
    bottom: 50px;
    font-weight: bold;
  }

  .landing-page-background {
    background-position-x: center; 
  }
}

@media screen and (max-width: 550px) {
  
  header {
    background-position-x: center;
  }

  .event-details {
    grid-template-columns: 300px;
    grid-template-rows: 300px auto;
    width: 300px;
    margin-top: 25px;
  }

  .bio-section {
    width: 300px;
  }

  .detail-right {
    grid-column: 1;
    grid-row: 2 / 3;
    padding: 10px 15px 150px 15px;
  }

  .headliner {
    width: unset;
    font-size: 24px;
  }

  .ticket-info {
    height: 100px;
    margin: 30px 25px;
    width: 115px;
    right: 0;
    bottom: 0;
  }

  .ticket-info h4 {
    top: 40px;
  }

  .detail-venue {
    position: relative;
    left: 0;
    bottom: 0;
    top: 30px;
    margin: 0 0 30px 0;
    overflow: scroll;
    width: unset;
  }

  .detail-date {
    top: unset;
    right: unset;
    bottom: 0;
    left: 0;
    margin: 30px 20px;
  }

  .detail-start-time {
    display: none;
  }
}