.tonight-card {
  display: inline-block;
  width: 250px;
  height: 310px;
  margin: 10px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  white-space: initial;
  vertical-align: bottom;
  box-sizing: border-box;
}

.tonight-card:hover {
  opacity: .8;
}


