* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 50px;
  height: 150px;
  background-color: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  padding-top: 50px;
  text-align: center;
}

input,
button {
  outline: none;
}

.landing-page-background {
  min-height: 100vh;
  width: 100%;
  background-image: url('./images/stage-instruments.jpg');
}

.landing-page {
  width: 600px;
  background-color: rgba(0, 0, 0, .8);
  top: 160px;
  color: white;
  margin: auto;
  height: 275px;
  position: relative;
  padding: 15px;
  box-sizing: border-box;
}

.landing-page h1 {
  text-align: center;
  width: 100%;
  background: unset;
}

.landing-page p {
  text-align: center;
}

.main {
  position: relative;
}

.home-button {
  color: white;
}

.home {
  position: absolute;
  right: 20px;
  top: 15px;
  display: -webkit-box;
  width: auto;
}

.location-form {
  box-sizing: border-box;
  width: 50%;
  margin: auto;
}

#main-form {
  display: inline;
  margin: 10px;
}

#main-form input {
  display: inline-block;
  width: 50px;
  margin: 0 3px;
}

#main-form button {
  display: inline-block;
  width: 60px;
}

.change-location {
  position: absolute;
  right: 20px;
  top: 15px;
  display: -webkit-box;
  width: auto;
}

.change-location p {
  display: inline;
}

.tonights-shows {
  overflow: scroll;
  width: 100%;
  position: relative;
}

.artist-image {
  width: 250px;
}

.shows-inner {
  transition: 450ms transform;
  white-space: nowrap;
  margin: 15px 0;
  padding: 0 30px;
}

.shows {
  overflow: scroll;
  width: 100%;
  position: relative;
}

.detail-img {
  height: 300px;
  width: 300px;
}

.loading {
  position: relative;
  left: 40%;
}

.loading-gif {
  height: 200px;
  width: 200px;
}

.event-happening-when-text {
  margin: 5px 0 0 40px;
}

.tonight-outer .event-happening-when-text {
  margin-top: 20px;
}