* {
  width: 100%;
  margin: 0;
}

body, html {
  padding: 0 10px;
  /*background: #0e0f11;*/
  /*color: #ecf0f1;*/
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.location-form {
  box-sizing: border-box;
  width: 50%;
  margin: auto;
}

#main-form {
  width: 25%;
  margin: 5px;
  float: right;
}

.tonights-shows {
  overflow: scroll;
  width: 100%;
  position: absolute;
  top: 185px;
}

.tonight-inner {
  transition: 450ms transform;
  white-space: nowrap;
  margin: 40px 0;
  padding: 0 30px;
}