* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  height: 100%;
}

h1 {
  font-size: 50px;
  height: 150px;
  background-color: rgba(0, 0, 0, .6);
  box-sizing: border-box;
  padding-top: 50px;
  text-align: center;
}

.header-link {
  color: white;
}

.header-link:hover {
  text-decoration: none;
}

input {
  outline: none;
  font-size: 16px;
  display: inline-block;
  width: 80px;
  height: 25px;
  box-sizing: border-box;
  padding: 1px 0 0 5px;
  border: 1px solid #757575;
  border-radius: 3px;
  background: transparent;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #FFF inset;
}

button {
  color: grey;
  outline: none;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 80px;
  height: 25px;
  border: 1px solid #757575;
  border-radius: 3px;
  padding: 1px 0 0 0;
  margin: 0 0 0 5px;
  background: transparent;
}

.landing-page-background {
  min-height: 100vh;
  display: flex;
  width: 100%;
  background-image: url('./images/stage-instruments.jpg');
}

.landing-page {
  width: 400px;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  margin: auto;
  height: 400px;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid white;
  box-sizing: border-box;
}

.landing-page h1 {
  margin: 50px 0 -5px 0;
  text-align: center;
  width: 100%;
  background: unset;
}

.landing-page p {
  text-align: center;
  margin-bottom: 30px;
}

.landing-page input {
  color: white;
  height: 35px;
}

.landing-page input:-webkit-autofill {
  -webkit-text-fill-color: #FFF !important;
  -webkit-box-shadow: 0 0 0 30px black inset;
}
.landing-page button {
  color: grey;
  height: 35px;
}

.landing-page button:hover {
  box-shadow: 0 0 20px 0;
}

.landing-page input::placeholder {
  color: grey;
}

.main {
  position: relative;
  margin-bottom: 40px;
}

.home-button {
  color: white;
}

.home {
  position: absolute;
  right: 20px;
  top: 15px;
  display: -webkit-box;
  width: auto;
}

.location-form {
  box-sizing: border-box;
  width: fit-content;
  margin: auto;
}

#main-form {
  display: inline;
  margin: 10px;
  z-index: 1;
}

#main-form button:hover {
  box-shadow: 0 0 6px 0;
}

.change-location {
  position: absolute;
  right: 30px;
  display: -webkit-box;
  width: fit-content;
}

.change-location p {
  display: inline;
  color: grey;
}

.tonights-shows {
  overflow: scroll;
  width: 100%;
  position: relative;
}

.artist-image {
  width: 250px;
}

.shows-inner {
  transition: 450ms transform;
  white-space: nowrap;
  margin: 5px 0;
  /*padding: 0 30px;*/
}

.shows {
  overflow: scroll;
  width: 100%;
  position: relative;
  margin: -5px 0 -15px 0;
}

.detail-img {
  height: 300px;
  width: 300px;
}

.loading {
  display: block;
  margin: auto;
  width: 320px;
  text-align: center;
}

.error {
  display: block;
  margin: 90px auto;
  padding: 0 20px;
  text-align: center;
}

.loading-gif {
  height: 200px;
  width: 200px;
}

.event-happening-when-text {
  margin: 15px 0 0 10px;
}

.all-shows {
  padding: 0 30px;
}
.jambase {
  margin: 15px 0 0 0;
  float: right;
}

.last-fm {
  padding: 10px 0 19px 0;
  margin-left: 15px;
  height: 35px;
}

@media screen and (max-width: 550px) {
 
  .landing-page-background {
    background-position-x: center;
  }

  .landing-page {
    width: 320px;
    height: 320px;
    position: unset;
  }

  .landing-page h1 {
    margin: 5px 0 -15px 0;
  }

  .landing-page p {
    margin: 0 auto 30px auto;
    width: 285px;
  }

  .change-location {
    width: fit-content;
    margin: 10px auto;
    position: unset;
    font-size: 14px;
  }

  .change-location input {
    font-size: 14px;
  }

  .change-location button {
    font-size: 14px;
  }

  .all-shows {
    padding: 0;
  }

  .jambase {
    margin-right: 10px;
  }
}

